<header class="flex justify-center items-center py-5 w-full fixed z-20 px-4">
    <nav class="flex flex-row gap-x-6 opacity-90 bg-black/50 py-2 px-6 rounded-full backdrop-blur-lg">
        <a class="hover:text-green-400 transition whitespace-nowrap" href="#experiencia">Experiencia</a>
        <a class="hover:text-green-400 transition whitespace-nowrap" href="#proyectos">Proyectos</a>
        <a class="hover:text-green-400 transition whitespace-nowrap" href="#sobremi">Sobre mi</a>
        <a class="hover:text-green-400 transition whitespace-nowrap" href="mailto:jose.calderonortega@gmail.com">Contacto</a>
    </nav>
</header>